

<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

<div class="row" *ngIf="state=='loading' || state=='error'" >
  <div class="col-sm-12 state-loading-error">
    <span *ngIf="state=='loading'" i18n="message|Loading message@@subsystem-loading-message">
      Loading {{subsystemItemAction.subsystemName}} &gt; {{subsystemItemAction.getItemName()}} &gt; {{subsystemItemAction.action.display}} ...
    </span>
    <span *ngIf="state=='error'" class="state-error">{{errorMessage}}</span>
  </div>
</div>
<div *ngIf="state=='ready'" class="row search-row">
  <div class="col-sm-12">
    <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
      <input [formControl]="searchInput" class="form-control mr-sm-2" type="text" placeholder="Search">
      <span class="search-count" i18n="message|Message that shows row count@@row-count-message">
        {searchRows.length, plural, =0 {no rows} =1 {one row} other {{{searchRows.length}} rows}}
      </span>
    </form>
  </div>
</div>
<div *ngIf="state=='ready'" class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-bordered table-condensed">
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            {{col.longColumnLabel}}
          </th>

          <th *ngIf="subsystemItemAction.action.link">
            {{subsystemItemAction.action.link}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of searchRows">
          <td *ngFor="let col of cols">
            {{row[col.columnIdentifier]}}
          </td>
          <td *ngIf="subsystemItemAction.action.link">
            <a href (click)="setAction(row); false;">
              {{subsystemItemAction.action.link}}
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!--
  This program and the accompanying materials are
  made available under the terms of the Eclipse Public License v2.0 which accompanies
  this distribution, and is available at https://www.eclipse.org/legal/epl-v20.html

  SPDX-License-Identifier: EPL-2.0

  Copyright Contributors to the Zowe Project.
-->

